#section2 {
  .content {
    flex: 1;
    flex-direction: column;
    padding-left: 300px;
    padding-top: 300px;
    padding-right: 70px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .body {
    margin-top: 50px;
  }
  .title {
    /* padding-bottom: 50px; */
  }
}
