#section3 {
  .content {
    flex: 1;
    flex-direction: column;
    padding: 300px 20% 200px 23%;
  }
  .title {
    text-align: center;
  }
  .body {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-top: 50px;
  }
  .detail {
    flex: 2;
  }
  .link {
    position: absolute;
    bottom: 30px;
    right: 100px;
    font-family: 'Stag-Book';
    font-weight: normal;
    font-size: 20px;
    padding: 10;
    color: white;
  }

  @media (max-width: 768px) {
    .content {
      padding: 150px 50px 100px 70px;
    }
    .link {
      display: none;
    }
  }
}
