.table-container {
  overflow-x: scroll;
  margin: 20px auto;
  width: 90%;
}
#dynamic-table {
  border-collapse: collapse;
  border: 1px solid #AAA;
  th, td {
    border: 1px solid #AAA;
  }
  thead {
    td {
      padding: 5px 20px;
      text-align: center;
      background-color: #6A99D0;
      color: #FFF;
      border: none;
    }
  }
  tbody {
    tr > td:first-child {
      background-color: #6A99D0;
      color: #FFF;
      border: none;
    }
    tr > td:not(:first-of-type) {
      text-align: right;
    }
    td.rising {
      background-color: #CEEED1;
      color: #006100;
    }
    td.falling {
      background-color: #E6C9CE;
      color: #9c0006;
    }
  }
}
